.business-card {
    font-family: 'Cuprum', sans-serif, Arial;
    text-align: center;
}

.business-card__place:before {
    padding: 0 5px 0 0;
}

.business-card__place_winter:before {
    content: '⛄';
}

.business-card__place_spring:before {
    content: '💐️';
}

.business-card__place_summer:before {
    content: '☀️';
}

.business-card__place_autumn:before {
    content: '🍂';
}