.business-card {
    font-family: 'Cuprum', sans-serif, Arial;
    text-align: center;
}

.business-card__place:before {
    padding: 0 5px 0 0;
}

.business-card__place_winter:before {
    content: '⛄';
}

.business-card__place_spring:before {
    content: '💐️';
}

.business-card__place_summer:before {
    content: '☀️';
}

.business-card__place_autumn:before {
    content: '🍂';
}

html, body, .page, .content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: #F4F4F4
}

.content {
    display: table;
    font-size: 1.5em;
    line-height: 1.5em;
    color: #3A4145;
}

.business-card {
    display: table-cell;
    vertical-align: middle;
}